<li>
  <%= component.name %> <%= link_to t("show"), component %>
  <%= link_to t("edit"), edit_component_path(component) %>
  <%= link_to t("delete"), component_path(component), :method => :delete %>
</li>