<ul class="nav nav-list">
  <li class="nav-header">Component Types</li>

  <% ComponentType.roots.each do |root| %>
    <% root.post_order do |ct, level| %>
      <li>
        <%= link_to ct do %>
          <% (level-1).times do %>--<% end %>
          <%= ct.name %>
          <span class="badge badge-warning pull-right"><%= ct.components.count %></span>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>