<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Taiwan Building Component Library</h1>
  <p>The Building Component Library is a repository of building data used to create building energy models. The data are broken down into separate components that represent parts of a building: windows, walls, schedules, and weather information are a few examples.</p>
  <p>Search for components by type or keyword and use the facets to narrow down your search. Once you find the components you need, download them and insert them in your energy model.</p>
  <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Components <small>Total Components</small> </h2>
    <p>The components are designed to provide data to the energy modeler and simplify the process of gathering inputs. The range of components goes from whole buildings to detailed files, like duct sealing components.</p>
    <p><%= link_to "Browse Components", components_path, :class => "btn btn-info btn-large" %></p>
  </div>
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Heading</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
</div>