<%= page_header do %>
  <%= @component_type.name %>
  <% if params[:template].present? %>
    <span class="label label-info">Template</span>
  <% end %>
<% end %>

<div class="row">
  <div class="span3 well">
    <%= render "share/navside" %>
  </div>

  <div class="span8">
    <ul>
      <%= render @components %>
    </ul>
  </div>
</div>